{% set links = [{
    label: "Fournitures scolaires",
    url: "#",
}, {
    label: "Fournitures de bureau",
    url: "#",
}, {
    label: "Cartables & trousses",
    url: "#",
}, {
    label: "Loisirs créatifs",
    url: "#",
}, {
    label: "Cadeaux & jeux",
    url: "#",
}, {
    label: "Matériel scolaire",
    url: "#",
}, {
    label: "Ma jolie déco",
    url: "#",
}, {
    label: "Le coin des livres",
    url: "#",
}] %}

<header>
	<div class="px-5 py-3 lg:px-20 flex items-center lg:gap-[60px] gap-4 shadow-headerShadow w-full">
		<button class="lg:hidden shrink-0 size-6" id="burger-btn">
			{% include 'components/icons/burger_menu.svg' %}
			<span class="sr-only">Menu</span>
		</button>

		<a href="{{ path('home_page') }}" class="shrink-0">
			<img src="{{ asset('images/logo.svg') }}" alt="Logo" class="h-[13px] lg:h-[25px] lg:w-[277px] w-[166px]" width="166" height="25" loading="lazy">
		</a>

		<div class="hidden lg:block w-full">
			{% include 'components/layout/search_bar.html.twig' with { text: "Ici tu trouveras ce que tu recherches" } %}
		</div>

		<nav class="shrink-0 ml-auto">
			<ul class="flex items-center gap-4">
				<li>
					{% embed 'components/button/icon_button.html.twig' with { text: "Listes scolaires" } %}
						{% block icon %}
							<div class="h-[22px] lg:h-[33px] lg:w-6 w-4">
								{% include 'components/icons/list.svg' %}
							</div>

						{% endblock %}
					{% endembed %}
				</li>

				<li>
					{% embed 'components/button/icon_button.html.twig' with { text: "Me connecter" } %}
						{% block icon %}
							<div class="h-[22px] lg:h-[33px] lg:w-6 w-4">
								{% include 'components/icons/user.svg' %}
							</div>
						{% endblock %}
					{% endembed %}
				</li>

				<li>
					{% embed 'components/button/icon_button.html.twig' with { text: "Mon panier", notification: 129 } %}
						{% block icon %}
							<div class="h-[22px] lg:h-[33px] w-[22px] lg:w-[30px]">
								{% include 'components/icons/cart.svg' %}
							</div>
						{% endblock %}
					{% endembed %}
				</li>
			</ul>
		</nav>
	</div>

	<div class="lg:hidden shadow-headerShadow py-4 px-5">
		{% include 'components/layout/search_bar.html.twig' with { text: "Ici tu trouveras ce que tu recherches" } %}
	</div>

	<div class="hidden lg:block shadow-headerShadow px-[60px] py-3.5">
		<nav>
			<ul class="flex items-center gap-x-12 gap-y-4 flex-wrap justify-center">
				{% for link in links %}
					<li>
						<a href="{{ link.url }}" class="font-semibold transition-transform group relative block hover:font-bold hover:-translate-y-1 text-base text-font-text-black">{{ link.label }}
							<img src="{{ asset('images/scrach.svg') }}" alt="Scrach" class="hidden group-hover:inline-block absolute inset-0 w-full h-full pointer-events-none -z-10">
						</a>
					</li>
				{% endfor %}

				<li>
					<a href="#" class="relative py-1.5 px-1">
						<span class="font-semibold text-base text-white">Mise en avant</span>
						<div class="absolute inset-0 -z-10 bg-states-error-promo rounded-[4px] -rotate-3"></div>
					</a>
				</li>

				<li>
					<a href="#" class="flex items-center gap-1">
						<div class="size-4 text-primary/orange-dark">
							{% include 'components/icons/personalized.svg' %}
						</div>
						<span class="font-semibold text-base text-primary/orange-dark">
							Objets personnalisés
						</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<nav id="menu" class="lg:!hidden hidden data-[open='true']:block fixed inset-0 bg-white z-50">
	<div class="flex justify-between items-center px-5 py-4 shadow-headerShadow">

		<button class="w-2.5 h-3 ml-auto" id="close-btn">
			{% include 'components/icons/x.svg' %}
			<span class="sr-only">Fermer</span>
		</button>
	</div>


	<ul class="space-y-5 pt-6 pb-9 px-5">
		{% for link in links %}
			<li>
				<a href="{{ link.url }}" class="font-bold text-[13px] text-font-text-black flex justify-between">
					<span>{{ link.label }}</span>
					<div class="w-3.5 h-2">
						{% include 'components/icons/chevron_right.svg' %}
					</div>
				</a>
			</li>
		{% endfor %}

		<li>
			<a href="#" class="flex items-center justify-between gap-1">
				<div class="flex items-center gap-2.5">
					<div class="size-4 text-primary/orange-dark">
						{% include 'components/icons/personalized.svg' %}
					</div>
					<span class="font-semibold text-[13px] tracking-[0.39px] text-primary/orange-dark">
						Objets personnalisés
					</span>
				</div>
				<div class="w-3.5 h-2">
					{% include 'components/icons/chevron_right.svg' %}
				</div>
			</a>
		</li>


		<li>
			<a href="#" class="flex items-center justify-between gap-1">
				<div class="flex items-center gap-2.5">
					<span class="font-semibold text-[13px] tracking-[0.39px] text-primary/orange-dark">
						French days
					</span>
				</div>
				<div class="w-3.5 h-2">
					{% include 'components/icons/chevron_right.svg' %}
				</div>
			</a>
		</li>
	</ul>

	<ul class="space-y-4 px-5">
		<li>
			<a href="#" class="flex flex-col overflow-hidden rounded-2xl">
				<img src="{{ asset('images/menu1.jpg' ) }}" alt="Menu 1" class="w-full h-[105px] object-cover" width="105" height="105" loading="lazy">
				<div class="px-5 py-4 bg-[#7A9CB8]">
					<span class="uppercase text-[18px] font-bold text-white">
						personnalisez votre eastpak
					</span>
				</div>
			</a>
		</li>

		<li>
			<a href="#" class="flex flex-col overflow-hidden rounded-2xl">
				<img src="{{ asset('images/menu2.png' ) }}" alt="Menu 1" class="w-full h-[105px] object-cover" width="105" height="105" loading="lazy">
				<div class="px-5 py-4 bg-[#D9C1A1]">
					<span class="uppercase text-[18px] font-bold text-white">
						les frenchs days débarquent
					</span>
				</div>
			</a>
		</li>
	</ul>

</nav>

 <script src="{{ asset('js/menu.js') }}"></script>
