<div class="flex flex-col overflow-hidden rounded-2xl {{ backgroundClass }}">
	<img src="{{ image }}" alt="{{ title }}" class="object-cover w-full h-[84px] lg:h-[200px] shrink-0 bg-center" loading="lazy" width="200" height="200">
	<div class="lg:p-8 flex flex-col lg:gap-5 p-4 gap-2.5">
		<p class="text-[18px] leading-[20px] uppercase lg:leading-[30px] lg:text-[26px] font-bold line-clamp-2 {{ textClass }}">{{ title }}</p>
		<div class="w-fit">
			{% embed 'components/button/elevated_button.html.twig' with { text: "Je découvre"} %}{% endembed %}
		</div>
	</div>
</div>
